<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="containetr mt-4">
        <div class="row">
          <div class="col-3"></div>
          <div class="col-6 p-4 shadow">
  
              <form action="" method="post">
                  <h4 class="text-center fw-bolder">Registration</h4>
   
                  {%csrf_token%}
                  {{form.as_p}}
                  <button type="submit">signup</button>
      
              </form>
  
          </div>
</body>
</html>